.container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

#leftbox {
    position: relative;
    width: 80%;
    height: 100%;
    min-width: 350px;
}

#rightbox {
    width: calc(20% - 10px);
    height: 100%;
    min-width: 0px;
    overflow: hidden;
    background-color: #f8f8f8;
}

#separator {
    cursor: col-resize;
    background-color: #f8f8f8;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='30'><path d='M2 0 v30 M5 0 v30 M8 0 v30' fill='none' stroke='black'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 100%;

    /* Prevent the browser's built-in drag from interfering */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#canvas {
    width: 100%;
    height: 100%;
}


.bts-set-animation-speed {
  bottom: auto;
  top: 22px;
  left: 250px;
}

.bts-scopes {
  top: 62px;
  left: 60px;
}

#properties-panel {
  position:relative;
  width:100%;
  height:100%;
  overflow-y: auto;
}

#custom-controls {
  position: absolute;
  bottom: 5px;
  right: 4px;
  width: 250px;
  height: 50px;
  z-index: 10;
}

#custom-controls > ul {
  background: #FAFAFA;
  height: 50px;
  border: solid 1px #CCC;
  border-radius: 2px;

  padding-top: 5px!important;
  padding-bottom: 5px!important;
  padding-left:10px!important;
  margin: 0;
  list-style: none;
}

#custom-controls > ul {
  padding: 0px;
  margin: 0px;
  display: flex;
}

#custom-controls > ul > li {
  display: inline-block;
  margin: 0px;
  padding: 7.25px;
  line-height: 20px;
}

#custom-controls > ul > li > a {
  color: black;
  display: inline-block;
  padding: 0px;
  background: none!important;
  border: none!important;
  opacity: 1;
}

#custom-controls > ul > li > label {
  padding: 0px;
}

#custom-controls > ul > li:hover {
  background-color: lightgray;
}

.fileContainer {
  overflow: hidden;
  position: relative;
}

.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}


